<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados</title>
    </head>
<body>

    <div>
        <div>
            <h1>Bem-vindo</h1>
            <p>Digite os dados para o cálculo</p>
        </div>
        <form action="{% url 'corridas_app' %}" method="POST">{% csrf_token %}
            <input type="number" name="distancia" placeholder="Digite a distância">
            <br>
            <br>
            <input type="number" name="consumo" placeholder="Digite o consumo do seu veículo">
            <br>
            <br>
            <input type="number" name="valor_corrida" placeholder="Digite o valor da corrida"



        </form>
    </div>

</body>
</html>
